on:
  push:
    paths:
      - "DC-*"
      - "adoc/**"
      - ".github/workflows/*"
  pull_request:
    paths:
      - "DC-*"
      - "adoc/**"
  workflow_dispatch:


jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: openSUSE/doc-ci@gha-validate
        with:
          dc-files: "DC-release-notes-micro DC-release-notes-micro-60 DC-release-notes-micro-61 DC-release-notes-micro-62 DC-release-notes-sles-160 DC-release-notes-sleha-160 DC-release-notes-slesap-160"
          validate-ids: true
          validate-images: true
          validate-tables: true
  build:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' && github.event_name != 'pull_request'
    needs: validate
    steps:
      - uses: actions/checkout@v4
      - uses: openSUSE/doc-ci@gha-build
        id: build-dc
        with:
          dc-files: "DC-release-notes-micro DC-release-notes-micro-60 DC-release-notes-micro-61 DC-release-notes-micro-62 DC-release-notes-sles-160 DC-release-notes-sleha-160 DC-release-notes-slesap-160"
      - uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.build-dc.outputs.artifact-name }}
          path: ${{ steps.build-dc.outputs.artifact-dir }}/*
          retention-days: 3
  publish:
    runs-on: ubuntu-latest
    if: ${{ success() }} && github.ref == 'refs/heads/main' && github.event_name != 'pull_request'
    needs: build
    continue-on-error: true
    steps:
      - name: Downloading all build artifacts
        id: download-artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifact-dir
      - name: Create folder hierarchy for susedoc.github.io
        run: |
          mkdir -p publish/sl-micro{_60-all,_60,_61,_62}/html/release-notes
          mkdir -p publish/sles-16.0/html/release-notes
          mkdir -p publish/sleha-16.0/html/release-notes
          mkdir -p publish/slesap-16.0/html/release-notes
          mkdir -p publish/sles-16_SP0/html/release-notes
          OUTPUT_DIR=$(find artifact-dir -mindepth 1 -maxdepth 1 -type d)
          mv "$OUTPUT_DIR/html/release-notes-micro"/* publish/sl-micro_60-all/html/release-notes
          mv "$OUTPUT_DIR/html/release-notes-micro-60"/* publish/sl-micro_60/html/release-notes
          mv "$OUTPUT_DIR/html/release-notes-micro-61"/* publish/sl-micro_61/html/release-notes
          mv "$OUTPUT_DIR/html/release-notes-micro-62"/* publish/sl-micro_62/html/release-notes
          mv "$OUTPUT_DIR/html/release-notes-sles-160"/* publish/sles-16.0/html/release-notes
          mv "$OUTPUT_DIR/html/release-notes-sleha-160"/* publish/sleha-16.0/html/release-notes
          mv "$OUTPUT_DIR/html/release-notes-slesap-160"/* publish/slesap-16.0/html/release-notes
          echo '<meta http-equiv="refresh" content="0;https://susedoc.github.io/release-notes/sles-16.0/html/release-notes/">' > publish/sles-16_SP0/html/release-notes/index.html
          rm -rf artifact-dir
          mv publish artifact-dir
      - name: Publishing builds on susedoc.github.io
        uses: SUSE/release-notes@gha-publish
        env:
          DEPLOY_KEY: ${{ secrets.DEPLOY_KEY }}
        with:
          artifact-path:  artifact-dir
          publish-repo: gh:SUSEdoc/release-notes.git
          repo-reset-after: 35
          branchless: "true"